<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>643421984455-jechc6u3708fu11vebg5nfbesqc94n6t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.643421984455-jechc6u3708fu11vebg5nfbesqc94n6t</string>
	<key>API_KEY</key>
	<string>AIzaSyAwbkaMjqe71QdkwHcIkAfZkkTf-xig9VM</string>
	<key>GCM_SENDER_ID</key>
	<string>643421984455</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jp.u-sk89.ScanApp</string>
	<key>PROJECT_ID</key>
	<string>scanapp-350e6</string>
	<key>STORAGE_BUCKET</key>
	<string>scanapp-350e6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:643421984455:ios:15447291c1c96e029c50e2</string>
	<key>DATABASE_URL</key>
	<string>https://scanapp-350e6.firebaseio.com</string>
</dict>
</plist>